MYSQL_URL=jdbc:mysql://localhost:33061/localbasket
MYSQL_USER=localbasket
MYSQL_PASSWORD=localbasket
REDIS_URL=redis://localhost:63791
RABBITMQ_URL=amqp://guest:guest@localhost:56721
DATADOG_SERVICE=localbasket
SENTRY_DSN=
GRAFANA_DASHBOARD=localbasket-operations
