[submodule "localbasket-fe"]
	path = localbasket-fe
	url = https://github.com/localbasket-labs/localbasket-fe.git
	branch = develop
[submodule "localbasket-be"]
	path = localbasket-be
	url = https://github.com/localbasket-labs/localbasket-be.git
	branch = develop
